<!DOCTYPE html>
<html>
  <head>
    <title>Pocetna</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="pocetnaNaslov">Vremenska prognoza</h1>
    <div id="divTekst">
      <p id="pocetnaTekst">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus metus dolor, mollis vitae efficitur quis, lacinia ut metus. Vestibulum nec mi bibendum, imperdiet odio vel, commodo nisi. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend vestibulum volutpat. Aenean egestas erat ut lorem vestibulum lobortis. Sed tincidunt hendrerit velit, sodales gravida lacus condimentum id. Etiam ut odio laoreet, rutrum risus at, iaculis neque. Sed fermentum, quam et imperdiet varius, est velit dapibus nisl, sit amet rutrum risus sem finibus ipsum.
        Aliquam erat volutpat. Curabitur molestie sem massa, vel aliquet leo blandit sed.</p>

    </div>
  </body>
</html>
